#service-banner{
    height: 400px;
    background: url('/img/banner-services.jpg') center no-repeat;
    background-size: cover;
    position: relative;
}
#service-banner #background{
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 50%);
}